@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: #f0f0f0;
    z-index: -1000;
    

}

.hamburguer{
    width: 3rem;
    height: 3rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.877);
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.2rem, .45rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span{
    position: absolute;
    left: 4rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 147, 79);
    color: white;
    font-family: "Poppins", sans-serif;
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(192, 147, 79);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .6rem;
}

.menu-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.menu-link:hover{
    color: rgb(192, 147, 79);
}

.sessao-ham h1{
    margin-top: 1rem;
    margin-bottom: 30px;
    background-color: #bb7546;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}

.container .box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    background-color: white;
    box-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.144);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 900px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 3.1rem;
}

.container .box img{
    width: 500px;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.container .box h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: rgb(138, 78, 30);
    margin-bottom: 1rem;
}

.container .box li{
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: rgb(105, 99, 93);
    margin-bottom: 1rem;
    max-width: 600px;
}

.container .box2{
    display: flex;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    background-color: white;
    box-shadow: 1rem 1rem 1px rgba(0, 0, 0, 0.144);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 900px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 3.1rem;
}

.container .box2 h3{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: rgb(138, 78, 30);
    margin-bottom: 1rem;
}

.container .box2 li{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: rgb(105, 99, 93);
    margin-bottom: 1rem;
    max-width: 600px;
}

.footer{
    background-color: #854317;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

.footer-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-col h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}


.footer-col h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(180, 81, 34);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.footer-col .socials a:hover{
    color: rgb(182, 109, 75);
    background-color: #ffffff;
}

@media(max-width: 800px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}